body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.page-header a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

.items {
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.items img {
    width: 100%;
    height: auto;
}

.item {
    border: 0.15rem gray solid;
    padding: 5%;
}

.item img {
    height: 50%;
    margin-bottom: 0.5rem;
}

.item p:nth-child(1) {
    height: 35%;
    
}

.item p:nth-child(1)::before {
    content: "$";
}

.item p:nth-child(2) {
    height: 20%;    
}

.item button {
    /* center the button */
    margin: 1px auto;
    display: block;
    width: 40%;
    height: 5%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}